[Desktop Entry]
Name=Obsidian appimage
Exec=/opt/appimages/Obsidian-1.8.9.AppImage %f
Icon=./obsidian-icon.svg
Terminal=false
Type=Application
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
